body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.movie-title h2 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.movie-container {
    flex: 1;
    padding: 50px;
    border: 50px;
    border-color: black;
    /*   display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            margin: 20px;
            padding: 20px; */
}

.movie-container2 {
    flex: 1;
    padding: 50px;
    border: 50px;
    border-color: red;
}

.movie-container img {
    max-width: 100%;
    height: auto;
}

.movie-details {
    margin-top: 20px;
    text-align: center;
}

    .movie-details p {
        margin: 5px 0;
        font-size: 18px;
        color: #555;
    }

.movie-trailer {
    margin-top: 20px;
}

    .movie-trailer iframe {
        max-width: 100%;
    }

.movie-image {
    text-align: center;
}

    .movie-image img {
        max-width: 100%;
        max-height: 450px; /* You can adjust this value to make the image smaller */
        height: auto;
    }
